.Box         {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    height: 15vh;
}

.Butt {
    border-style: none;
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    width: 4vh;
}

button {
    margin-left: 5px;
    height: 40px;
    width: 80px;
    font-weight: bold;
}

.Edit {
    background-color: greenyellow;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.Del {
    background-color: red;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}

.Table-wrapper {
    display: flex;
    justify-content: center;
}