nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: space-between;*/
}

ul {
    text-decoration: none;
}

li {
    margin-bottom: 10vh;
    list-style-type: none;
}

.linkNav {
    color: #61dafb;
    text-decoration: none;
}